<div class="container p-2">
  <div class="mb-2">
      <vue-component name="CarouselComponent" /> 
  </div>
  <div class="mb-2">
    <vue-component name="BigCardComponent" /> 
  </div>
  <div>
      <vue-component name="CardComponent" /> 
  </div>
  <div class="row">
    <div class="col-sm col-md-4 p-2">
      <vue-component name="HelloComponent" /> 
    </div>
    <div class="col-sm col-md-4 p-2 text-center">
      <vue-component name="HelloComponent2" /> 
    </div>
    <div class="col-sm col-md-4 p-2 text-center">
        <vue-component name="HelloComponent3" /> 
    </div>
  </div>
</div>